// 公用的一些css
@mixin al-flex {
	// display: flex;
}

.al-box{
	background-color: #fff;
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 15px;
	box-shadow: var(--el-box-shadow);
	@include al-flex;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter-form {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}



