// 公用的一些css
@mixin al-flex {
	// display: flex;
}

.al-box{
	background-color: #fff;
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 15px;
	box-shadow: var(--el-box-shadow);
	@include al-flex;
}

