:root {
  $--el-color-primary: green;
}
$--el-button-bg-color:#3e3e3e;
$--el-color-primary:#333;
$text-color:#252631;

$aside-bg: #3e3e3e;
$aside-bg: #394167;
$aside-text-color:#A6B6C6;
$aside-width: 250px;
$aside-hover-bg:#5473e4;
