:root {
  --el-font-family:Arial,PingFang SC,-apple-system,BlinkMacSystemFont,Segoe UI,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  --el-color-primary: #5855ee;
  --el-menu-bg-color:#001529;
  // --aside-bg:#001529;
}
.el-menu{
	--el-menu-bg-color:#001529;
	--el-menu-text-color:#fff;
	--el-menu-active-color:#5473E8;;
	--el-menu-hover-bg-color:#275367;
}

.el-main{
	overflow: hidden;
}

.el-form-item label{
	font-weight: 600;
}